@font-face {
	font-family:'Project Fitzroya Symbol';
	font-style:normal;
	font-weight:400;
	src:local('☺︎'), url(project%20fitzroya%20symbol.woff) format("woff2");
}
@font-face {
	font-family:'HanHei SC';
	font-style:normal;
	font-weight:400;
	src:local('☺︎'), url(hanhei-sc-text.woff) format("woff2");
}
@font-face {
	font-family:'HanHei SC';
	font-style:normal;
	font-weight:600;
	src:local('☺︎'), url(hanhei-sc-semibold.woff) format("woff2");
}