html {
  font-size: 100%;
  font-family: "HanHei SC", sans-serif;
  /*background-image: linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%);*/
  background-color: transparent;
  min-height: 100vh;
  -ms-content-zooming:none; 
  -ms-overflow-style:none;
}
body {
  margin: 0;
}
a {
  text-decoration: none;
  color: #000;
}
p {
  margin: 0;
}
nav {
  position: fixed;
  width: 100%;
  z-index: 1;
  padding-top: 0px;
  background-color: none;
  font-family: "Project Fitzroya Symbol", "HanHei SC", sans-serif;
}
nav .logo {
  line-height: 48px;
  margin-left: 1em;
}
nav .text {
  font-weight: 600;
  line-height: 48px;
  margin-left: 0.5em;
  text-align: center;
}
main {
  padding-top: 48px;
  padding-bottom: 48px;
  padding-left: 1em;
  padding-right: 1em;
}
article {
  text-align: center;
  padding-top: 6em;
  padding-bottom: 6em;
}
article .title {
  font-size: 1.5em;
  letter-spacing: 2px;
  font-weight: 600;
}
  .se {
  border-bottom-color: black;
  border-bottom-style: solid;
  border-bottom-width: 2px;
}
article .content {
  font-size: 1.25em;
  padding-top: 4px;
  padding-left: 0em;
  padding-right: 0em;
}
.pagination {
  position: relative;
  text-align: center;
  padding-bottom: 4em;
}
.pagination .next {
  color: black;
  font-size: 20px;
  font-family: "Segoe MDL2 Assets";
}
footer {
  height: 48px;
  padding: 0;
}
footer .copyright {
  float: right;
  line-height: 48px;
  margin-right: 1em;
}
footer .language {
  margin-left: 1em;
  float: left;
  line-height: 48px;
}
footer .about {
  margin-left: 1em;
  float: left;
  line-height: 48px;
}
footer .contact {
  margin-left: 1em;
  float: left;
  line-height: 48px;
}
ul {
	list-style-type:none;
	margin:0;
	padding:0;
	float: right;
}
li {
	display:inline-block;
}
li a {
	display:block;
	height: 48px;
	text-align: center;
	line-height: 48px;
	color: black;
	margin-right:1em;
}
li:hover a {
  font-weight: 600;
}
li ul li a {
	width: auto;
	min-width: 100px;
}
.show-menu {
	color: black;
	background: transparent;
	display: none;
	font-size: 1em;
    line-height: 48px;
	margin-right: 1em;
}
input[type=checkbox]{
    display: none;
}
input[type=checkbox]:checked ~ #menu{
    display: block;
}
@media screen and (max-width : 700px){
	ul {
		position: static;
		display: none;
		float: none;
	}
	ul li, li a {
		width: 100%;
	}
	.show-menu {
		display:inline-block;
		float: right;
	}
	nav {
		background-color:rgba(255, 255, 255, 0.6);
    }
	.se {
  border-bottom-style: none;
  border-left-color: black;
  border-left-style: solid;
  border-left-width: 2px;
  }
}
@media screen and (min-width : 400px){
	article .content {
  padding-left: 0.5em;
  padding-right: 0.5em;
}
}
@media screen and (min-width : 500px){
	article .content {
  padding-left: 1em;
  padding-right: 1em;
}
}
@media screen and (min-width : 600px){
	article .content {
  padding-left: 2em;
  padding-right: 2em;
}
}
@media screen and (min-width : 700px){
	article .content {
  padding-left: 3em;
  padding-right: 3em;
}
}
@media screen and (min-width : 800px){
	article .content {
  padding-left: 5em;
  padding-right: 5em;
}
}
@media screen and (min-width : 900px){
	article .content {
  padding-left: 7em;
  padding-right: 7em;
}
}
@media screen and (min-width : 1000px){
	article .content {
  padding-left: 9em;
  padding-right: 9em;
}
}
@media screen and (min-width : 1200px){
	article .content {
  padding-left: 12em;
  padding-right: 12em;
}
}
@media screen and (min-width : 1500px){
	article .content {
  padding-left: 18em;
  padding-right: 18em;
}
}
@media screen and (min-width : 1800px){
	article .content {
  padding-left: 25em;
  padding-right: 25em;
}
}